---
import { Badge } from '../react/Badge';

interface Props {
  isPast?: boolean;
  gameOver: boolean;
}

const { isPast, gameOver } = Astro.props;
---

<div
  id="container"
  class={`${gameOver ? 'bg-custom_purple' : ''} ${isPast ? 'bg-custom_purple' : 'bg-custom_light_green'}  w-[700px] py-4 px-8 rounded-xl h-[430px] border-2 border-black shadow-xl shadow-black`}
>
  <Badge title={isPast ? 'Pasado ' : 'Futuro'} />
  {
    gameOver ? (
      <>
        <img
          id="character"
          src="../../../public/characters/failed.svg"
          alt="Image failed character"
          width="230"
        />
        <div class="mt-24">
          <h1 class="text-2xl text-center font-bold mx-12 mt-12">
            ¡Lo sentimos! <br />
            Has fallado esta vez, ¡el virus se ha <br /> transmitido sin
            control!
          </h1>
          <p class="m-3 text-lg text-center">
            La humanidad cuenta sus últimos días.
          </p>
        </div>
      </>
    ) : (
      <>
        <img
          id="character"
          src={`${isPast ? '../../../public/characters/past.svg ' : '../../../public/characters/future.svg'}`}
          alt={`Imagen personaje de ${isPast ? 'Pasado' : 'Futuro'}`}
          width="230"
        />
        <div class="mt-20">
          <h1 class="text-2xl text-center font-bold mx-12 mt-12">
            ¡Felicidades! <br /> Sabíamos que podíamos contar contigo, <br />
            {isPast
              ? '¡has evitado que el virus se propague!'
              : '¡has encontrado el antídoto!'}
          </h1>
          <p class="m-3 text-lg text-center">
            La humanidad se ha salvado de una pandemia y ahora el mundo puede
            seguir su curso con normalidad.
          </p>
        </div>
      </>
    )
  }

  <a class="ml-auto" href="/">
    <img
      src="../../../public/icons/btn_home.svg"
      alt="Boton home"
      title="Boton home"
      width="50"
    />
  </a>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  a {
    justify-content: flex-end;
  }
  #character {
    position: absolute;

    top: -70px;
    right: 230px;
  }
</style>
