---
interface Props {
  bg: string;
}

const { bg } = Astro.props;
---

<div class={`${bg} h-screen flex flex-col justify-center items-center gap-4 p-2`}>
  <slot />
</div>

<style>
  div {
    background-position: center center;
    background-size: cover;
  }
</style>
