---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
import { QuestionCard } from '../components/react/QuestionCard';
---

<Layout title="Jugar Pandemission" description="Jugar Pandemission">
  <Main bg="bg-game">
    <QuestionCard client:only />
  </Main>
</Layout>
