---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
---

<Layout
  title="Pandemission"
  description="Pagina inicial del projecto Pandemission "
>
  <Main bg="inicio">
    <img
      src="../../public/icons/logo.svg"
      alt="Imagen inicio Pandemission"
      title="Imagen inicio Pandemission"
      width="300"
    />
    <h1 class="text-2xl w-[450px] text-center text-white text-wrap font-bold">
      ¿Tienes lo que se necesita para salvar al mundo de <span
        class="text-custom_light_green">un virus</span
      > que amenaza a la humanidad?
    </h1>
    <a href="/getting" class="hover:-translate-y-1">
      <img
        src="../../public/icons/btn_inicio.svg"
        alt="Imagen de boton"
        title="Imagen de boton"
        width="80"
      />
    </a>
  </Main>
</Layout>
