---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
import { GameOver } from '../components/react/Congrats';
---

<Layout title="Game page" description="Game page">
  <Main bg="bg-game">
    <GameOver client:only />
  </Main>
</Layout>
