---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
import Congrats from '../components/astro/Congrats.astro';
---

<Layout title="Game page" description="Game page">
  <Main bg="bg-game">
    <Congrats isPast={false} gameOver={false} />
  </Main>
</Layout>
