---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
import Rules2 from '../components/astro/Rules.astro';
---

<Layout title="Game page" description="Game page">
  <Main bg="bg-game">
    <Rules2 />
  </Main>
</Layout>
