---
import Layout from '../layouts/Layout.astro';
import Main from '../components/astro/Main.astro';
import { LinkTo } from '../components/react/LinkTo';
---

<Layout title="Selecciona el tiempo" description="Selecciona el tiempo">
  <Main bg="bg-info">
    <div class="flex gap-32">
      <LinkTo
        url="../../public/icons/televisor_futuro.svg"
        isPast={false}
        client:load
      />
      <LinkTo
        url="../../public/icons/televisor_pasado.svg"
        isPast
        client:load
      />
    </div>
  </Main>
</Layout>
